/* position of div with class restaurant */
.restaurant {
  float: left;
  margin: 5px 55px 15px 85px;
  border: 2px solid orange;
}
 
/* Style the menu and book now button */
.restaurant button {
  float: left;
  border: 3px solid orange;
  cursor: pointer;
  padding: 10px 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(101, 145, 101);
  background-color: rgb(238, 200, 200);
  width: 200px;
}

/* Dining top message */
#Dining h2 {
  text-align: center;
  color: rgb(72, 107, 72);
}

/* Restaurant name */
.restaurant h3 {
  text-align: center;
  color: rgb(101, 145, 101);
}

/* Modal box including discription and menu */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* color and opacity */
  color: grey;
}

/* Modal content */
.modal-content {
  background-color: rgb(169, 206, 195);
  margin: 100px;
  padding: 20px;
  width: 80%;
}

/* The close button X */
.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Change the color of close button when mouse hover */
.close:hover {
  color: green;
  cursor: pointer;
}
